.bk {
    background: #f2f2f3; 

}

.bk_report {
    background: #ffffff; 
}

.cabecario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;

}

.pedido-name 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pedido-name-dois 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tex-um{
    text-align: center;
}
.tex-dois{
    text-align: center;
}

.tex-tres{
    margin-left: 30%;
    margin-right: 10px;
}

.sel-pedido{
    margin-left: 10%;
}