.bk {
    background: #f2f2f3; 

}

.bk_report {
    background: #ffffff; 
}

.cabecario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;

}

.pedido-name 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tex-um{
    margin-left: 10px;
    margin-right: 30%;
}
.tex-dois{
    margin-left: 5%;
    margin-right: 5%;
}

.tex-tres{
    margin-left: 30%;
    margin-right: 10px;
}