<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Bad request</title>
    </head>

    <body class="bg-warning alinhamento text-center">
        <br>
        <br>
        <img width="60px" height="auto" src="/static/img/warning.png" alt="aviso">
        <br>
        <br>
        <h1>Requisição ruim!!!</h1>
        <br>
        <a href="/menulogin" ><input class="btn btn-outline-light" type="submit" value = "Voltar" style="width: 120px"></a>
    </body>
    <footer>
        <br>
        <br>
        <p class="text-dark alinhamento"><strong>Desenvolvido por MaapSystem</strong></p>
    </footer>
</html>