<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/add.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/fundo.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Pessoa Física</title>

    </head>
    <div class="container align-items-center">
        <body class="bk text-center">
            <br>
            <h1 class="alert alert-warning" align="center">Adicionar Pessoa Física</h1>
            <br>
            <table class="table table-striped">
                <form action="/adicionar" class="container" method="POST">
                    
                    <label class="margem_label">Usuário:</label>
                    <br>
                    <input type="text" name="usuario" id="usuario" placeholder="Digite um usuário." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Senha:</label>
                    <br>
                    <input type="password" name="senha" id="senha" placeholder="Digite uma senha." size="70" />
                    <br>
                    <br>

                    <label class="margem_label">Nome:</label>
                    <br>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Cpf:</label>
                    <br>
                    <input type="text" name="cpf" id="cpf" placeholder="Digite o seu CPF." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Rg:</label>
                    <br>
                    <input type="text" name="rg" id="rg" placeholder="Digite o seu RG." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Data de Nascimento:</label>
                    <br>
                    <input type="date" name="data_nascimento" id="data_nascimento" placeholder="Digite sua data de nascimento." size="70" />
                    <br>
                    <br>

                    <label class="margem_label">Endereço:</label>
                    <br>
                    <input type="text" name="endereco" id="endereco" placeholder="Digite seu endereço." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Numero:</label>
                    <br>
                    <input type="text" name="num_endereco" id="num_endereco" placeholder="Número." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Complemento:</label>
                    <br>
                    <input type="text" name="complemento" id="complemento" placeholder="Digite um Complemento." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Bairro:</label>
                    <br>
                    <input type="text" name="bairro" id="bairro" placeholder="Digite um Bairro." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Cep:</label>
                    <br>
                    <input type="text" name="cep" id="cep" placeholder="Digite seu CEP." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Selecione uma cidade:</label>
                    <br>
                    <select type="text" name="cod_cidade" id="cod_cidade"  class="select_width" >
                        {% for id in cidades %}
                        <option value="{{ id.id_cidade }}" > {{ id.cidade }} </option>
                        {% endfor %} 
                    </select>
                    <br>
                    <br>
                    <label class="margem_label">Contato:</label>
                    <br>
                    <input type="text" name="contato" id="contato" placeholder="Digite um Contato." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">DDD:</label>
                    <br>
                    <input type="text" name="ddd" id="ddd" placeholder="Digite um ddd." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Telefone:</label>
                    <br>
                    <input type="tel" name="telefone" id="telefone" placeholder="Digite um Celular." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Email:</label>
                    <br>
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Observação:</label>
                    <br>
                    <input type="text" name="observacao" id="observacao" placeholder="Digite uma observação." size="70" />
                    <br>
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" value="Enviar"/>
                    <br>
                    <br>
                </form>
            </table>
            <br>
            <a href="/adminpf" ><input class="btn btn-secondary" type="submit" value = "Voltar" style="width:120px"></a>
        </body>

        <footer>
            <br>
            <br>
            <p class="text-white text-center"><strong>Desenvolvido por MaapSystem</strong></p>
        </footer>
    </div>
</html>