<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/add.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/fundo.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Adicionar item ao Pedido</title>

    </head>
    <div class="container align-items-center">
        <body class="bk text-center">
            <br>
            <h1 class="alert alert-success" align="center">Adicionar um item ao Pedido</h1> 
            <br>
            <table class="table table-striped">
                <form action="/adicionar_item_pedido" class="container" method="POST">
                    
                    <label class="margem_label">Selecione um Pedido</label>
                    <br>
                        <select type="text" name="id_pedido" id="id_pedido"  class="select_width" >
                            {% for elemento in tb_ped %}
                            <option value="{{  elemento.id_pedido }}" > {{ elemento.id_pedido }} </option>
                            {% endfor %}  
                        </select>
                    <br>
                    <br>

                    <label class="margem_label">Quantidade:</label>
                    <br>
                    <input type="text" name="quantidade_venda" id="quantidade_venda" placeholder="Adicionar quantidade." size="70" />
                    <br>
                    <br>
                    

                    <label class="margem_label">Valor Unitário:</label>
                    <br>
                    <select type="text" name="valor_unitario" id="valor_unitario"  class="select_width" >
                        {% for id in produto_list %}
                        <option value="{{  id.valor_unitario }}" > {{ id.nome_produto + " valor: " + id.valor_unitario|string }} </option>
                        {% endfor %} 
                    </select>
                    <br>
                    <br>

                    <label class="margem_label">Produto</label>
                    <br>
                    <select type="text" name="cod_produto" id="cod_produto"  class="select_width" >
                        {% for id in produto_list %}
                        <option value="{{ id.id_produto }}" > {{ id.nome_produto }} </option>
                        {% endfor %} 
                    </select>
                    <br>
                    <br>
                    
                    <input type="submit" class="btn btn-success" value="Enviar"/>
                    <br>
                    <br>

                </form>
            </table>
            <br>
            <a href="/admin_pedido" ><input class="btn btn-secondary" type="submit" value = "Voltar" style="width:120px"></a>
        </body>

        <footer>
            <br>
            <br>
            <p class="text-dark text-center"><strong>Desenvolvido por MaapSystem</strong></p>
        </footer>
    </div>
</html>