<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/add.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/fundo.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Adicionar Pedido Pessoa Física</title>

    </head>
    <div class="container align-items-center">
        <body class="bk text-center">
            <br>
            <h1 class="alert alert-success" align="center">Adicionar pedido Pessoa Juridic</h1> 
            <br>
            <table class="table table-striped">
                <form action="/adicionar_pedido_pf" class="container" method="POST">
                    
                    <label class="margem_label">Selecione um Cliente</label>
                    <br>
                    <select type="text" name="cod_cliente" id="cod_cliente"  class="select_width" >
                        {% for id in cliente_pj %}
                        <option style="display:none;"></option>
                        <option value="{{ id.id_pessoa_juridica }}" > {{ id.razao_social }} </option>
                        {% endfor %} 
                    </select>
                    <br>
                    <br>

                    <label class="margem_label">Condição de Pagamento:</label>
                    <br>
                    <input type="text" name="mod_pgto" id="mod_pgto" placeholder="Opção de Pagamento." size="70" />
                    <br>
                    <br>

                    <label class="margem_label">Status do Pedido</label>
                    <br>
                    <select type="text" name="cod_status" id="cod_status"  class="select_width" >
                        {% for id in status_list %}
                        <option style="display:none;"></option>
                        <option value="{{ id.id_status }}" > {{ id.descricao }} </option>
                        {% endfor %} 
                    </select>
                    <br>
                    <br>

                    
                    <input type="submit" class="btn btn-success" value="Enviar"/>
                    <br>
                    <br>

                </form>
            </table>
            <br>
            <a href="/admin_pedido" ><input class="btn btn-info" type="submit" value = "Voltar" style="width:120px"></a>
        </body>

        <footer>
            <br>
            <br>
            <p class="text-dark text-center"><strong>Desenvolvido por MaapSystem</strong></p>
        </footer>
    </div>
</html>