<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/add.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/fundo.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Adicionar </title>

    </head>
    <div class="container align-items-center">
        <body class="bk text-center">
            <br>
            <h1 class="alert alert-warning" align="center">Adicionar Produto</h1>
            <br>
            <table class="table table-striped">
                <form action="/adicionar_produto" class="container" method="POST">
                    
                    <label class="margem_label">Produto:</label>
                    <br>
                    <input type="text" name="nome_produto" id="nome_produto" placeholder="Digite o nome do produto." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Descrição:</label>
                    <br>
                    <input type="text" name="descricao" id="descricao" placeholder="Digite uma descrição" size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Quantidade:</label>
                    <br>
                    <input type="text" name="qtd_produto" id="qtd_produto" placeholder="Digite a quantidade." size="70" />
                    <br>
                    <br>
                    <label class="margem_label">Valor:</label>
                    <br>
                    <input type="text" name="valor_unitario" id="valor_unitario" placeholder="Digite um valor." size="70" />
                    <br>
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" value="Enviar"/>
                    <br>
                    <br>

                </form>
            </table>
            <br>
            <a href="/admin_produto" ><input class="btn btn-secondary" type="submit" value = "Voltar" style="width:120px"></a>
        </body>

        <footer>
            <br>
            <br>
            <p class="text-white text-center"><strong>Desenvolvido por MaapSystem</strong></p>
        </footer>
    </div>
</html>