<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Administração de Usuários</title>
    </head>

    <body class="bg-warning alinhamento text-center">
        
        <h1 class="alert alert-dark" align="center">Cadastro de Usuários</h1>
        <br>
        <table class="table table-striped">
            <thead align="center">
                <tr>
                    <th><strong>Adicionar Usuário</strong>
                        <a href="/adicionar"><img style="margin-left: 100;" src="{{url_for('static',filename ='img/adicionar.png')}}" alt="adicionar"></a>
                    </th>
                </tr>
            </thead>
        </table>
        
        <br>
        <br> 
        <table class="table table-striped">
            <thead align="center">
                <tr>
                    <th><strong>Ids</strong</th>
                    <th><strong>Usuários</strong></th>
                    <th><strong>Senhas</strong></th>
                    <th><strong>Ações</strong></th>
                </tr>
            </thead>
            <tbody align="center">
                {% for dados in admin %}
                <tr>
                    <td>{{dados.ids}}</td>
                    <td>{{dados.usuario}}</td>
                    <td>{{dados.senha}}</td>
                    <td>
                        <script >
                            function excluir()
                            {
                            alert("Usuário excluído com sucesso!");
                            }
                            
                        </script>
                        <a href="/editar/{{dados.ids}}"> <img src="{{url_for('static', filename ='img/editar.png')}}" alt="editar"> </a>
                        <a href="/deletar/{{dados.ids}}"> <img src="{{url_for('static', filename ='img/deletar.png')}}" onclick="excluir()" alt="excluir"> </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>




        <br>
        <a href="/menulogin" ><input class="btn btn-outline-light" type="submit" value = "Voltar" style="width: 120px"></a>
    </body>
    <footer>
        <br>
        <br>
        <p class="text-dark alinhamento"><strong>Desenvolvido por MaapSystem</strong></p>
    </footer>
</html>