<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/admin.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/fundo.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <script type=text/javascript src="{{url_for('static', filename='js/botoes.js')}}"></script>
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Cadastro de Produto</title>
    </head>
    <div class="container align-items-center">
        <body class="bk text-center align-items-center">
            <br>
            <h1 class="alert alert-warning" align="center">Cadastro de Produto</h1>
            <br>
            <div class="table-responsive-sm">
                <table class="table">
                    <thead align="center">
                        <tr>
                            <th><strong>Adicionar Produto</strong>
                                <a href="/adicionar_produto"><img style="margin-left: 100;" src="{{url_for('static',filename ='img/adicionar.png')}}" alt="adicionar"></a>
                            </th>
                        </tr>
                    </thead>
                </table>
                
                <br>
                <br> 
                <div class="scroll">
                    <table class="table">
                        <thead align="center">
                            <tr>
                                <th><strong>Ids</strong</th>
                                <th><strong>Produto</strong></th>
                                <th><strong>Descrição</strong></th>
                                <th><strong>Quantidade</strong></th> 
                                <th><strong>Valor</strong></th> 
                                <th><strong>Data</strong></th>     
                                <th><strong>Ações</strong></th>
                            </tr>
                        </thead>
                        <tbody align="center">
            
                            {% for produto in tb_produto %}
                            <tr> 
                                <td>{{produto.id_produto}}</td>
                                <td>{{produto.nome_produto}}</td>
                                <td>{{produto.descricao}}</td>
                                <td>{{produto.qtd_produto}}</td>
                                <td>{{produto.valor_unitario}}</td>
                                <td>{{ produto.data_produto|datetimeformat }}</td>
            
                                <td>
                                    <a href="/editar_produto/{{produto.id_produto}}"> <img src="{{url_for('static', filename ='img/editar.png')}}" alt="editar"> </a>
                                    <a href="/deletar_produto/{{produto.id_produto}}"><img src="{{url_for('static', filename ='img/deletar.png')}}" onclick="" ></a>
                                </td>
                            </tr>
                            {% endfor %}
            
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <a href="/menulogin" ><input class="btn btn-secondary" type="submit" value = "Voltar" style="width: 120px"></a>
            <h6 class="text-white">{{ msg }}</h6>
            <br>
            <!-- <a href="/download_pdf/{{'admin_produto.html'}}" ><input class="btn btn-outline-light" type="submit" value = "Imprimir" style="width: 120px"></a> -->
        </body>
        <footer>
            <br>
            <br>
            <p class="text-white text-center"><strong>Desenvolvido por MaapSystem</strong></p>
        </footer>
    </div>
</html>