<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Pedido</title>
    </head>

    <body class="bg-warning alinhamento text-center">

                
        <h1 class="alert alert-dark" align="center">Pedido</h1>
        <br>
        <div class="table-responsive-sm">
            <table class="table">
                <thead align="center">
                    <tr>
                        <th><strong>Adicionar Pedido</strong>
                            <a href=""><img style="margin-left: 100;" src="{{url_for('static',filename ='img/adicionar.png')}}" alt="adicionar"></a>
                        </th>
                    </tr>
                </thead>
                <label class="margem_label">Selecione um Pedido:</label>
                <br>

                <br>
                <br>

            </table>
            
            <br>
            <br> 
            <table class="table">
                <thead align="center">
                    <tr>
                        <th><strong>Nº Pedido</strong</th>
                        <th><strong>Data Pedido</strong></th>
                        <th><strong>Nome do Cliente</strong></th>
                        <th><strong>Quantidade</strong></th>
                        <th><strong>Valor Unitário</strong></th>
                        <th><strong>Valor </strong></th>
                        <th><strong>Produto</strong></th>
                        <th><strong>Descrição</strong></th>
                        <th><strong>Status</strong></th>
                        <th><strong>Ações</strong></th>
             

                    </tr>
                </thead>
                <tbody align="center">
    
                    {% for orcamento in orcamentos %}
                      
                    <tr>
                        <td>{{ orcamento.cod_pedido }}</td>
                        <td>{{ orcamento.data_pedido|datetimeformat }}</td>
                        <td> {{ orcamento.nome }} </td>
                        <td>{{ orcamento.quantidade_venda }}</td>
                        <td>{{ orcamento.valor_unitario }}</td>
                        <td>{{ orcamento.valor_total }}</td>
                        <td>{{ orcamento.nome_produto }}</td>
                        <td>{{ orcamento.descricao }}</td>
                        <td> {{ orcamento.status_pedido }}</td> 
              

                        <td>
                            <a href=""> <img src="{{url_for('static', filename ='img/editar.png')}}" alt="editar"> </a>
                            <a href="/deletar_item//{{orcamento.id_item}}"><img src="{{url_for('static', filename ='img/deletar.png')}}" onclick="" ></a>
                        </td>
                    </tr>
                 
                    {% endfor %}  
    
                </tbody>
            </table>


        </div>
        <br>
        <a href="/menulogin" ><input class="btn btn-outline-light" type="submit" value = "Voltar" style="width: 120px"></a>
        <h6 class="text-white">{{ msg }}</h6>
        <br>
        <!-- <a href="/download_pdf/{{'admin_pessoafisica.html'}}" ><input class="btn btn-outline-light" type="submit" value = "Imprimir" style="width: 120px"></a> -->
    

    </body>
    <footer>
        <br>
        <br>
        <p class="text-dark alinhamento"><strong>Desenvolvido por MaapSystem</strong></p>
    </footer>
</html>