<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/add.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/fundo.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Editar Pedido</title>
        <script language="JavaScript">
            function SetValor(valor) {
                var strArray;
                var strDescProd;
                if (valor == ""){
                    alert("Valor não encontrado");
                } else {
                    strArray = valor.split("-");

                    document.getElementById('id_cod_produto').value = strArray[0];
                    document.getElementById('id_valor_unitario').value = strArray[1];

                    strDescProd = strArray[1].replace(".", ",");

                    document.getElementById('id_desc_valor_unitario').value = 'R$ ' + strDescProd;
                }
            }
        </script>
    </head>

    <div class="container align-items-center">
        <body class="bk text-center">
            <br>
            <h1 class="alert alert-success" align="center">Editar o Pedido {{tb_it.cod_pedido}}</h1>
            <br>
            <br>
            <table class="table table-striped">
                <form action="/editar_pedido/{{tb_it.id_item}}/{{tb_it.cod_produto}}/{{tb_it.cod_pedido}}" name= "pedido" method="POST">

                    <label class="margem_label">Condição de Pagamento:</label>
                    <br>
                    <input type="text" name="mod_pgto" id="mod_pgto" value="{{tb_pp.mod_pgto}}" placeholder="Opção de Pagamento." size="43" />
                    <br>
                    <br>
                    
                    <label class="margem_label">Status do Pedido</label>
                    <br>
                    <select type="text" name="cod_status" id="cod_status"  class="select_width" >
                        {% for id in status_list %}
                        <option style="display:none;"></option>
                        <option value="{{tb_pp.cod_status}}"></option>
                        <option value="{{ id.id_status }}" > {{ id.descricao }} </option>
                        {% endfor %} 
                    </select>
                    <br>
                    <br>
                    
                    <label class="margem_label">Produto</label>
                    <br>
                    <select type="text" name="cod_produto" id="cod_produto"  class="select_width"   onchange="SetValor(document.pedido.cod_produto.value)">
                        {% for id in produto_list %}
                        <option style="display:none;"></option>
                        <option value="{{tb_it.cod_produto}}"></option>
                        <option value="{{id.id_produto}}-{{id.valor_unitario}}" > {{ id.nome_produto +' - '+ id.descricao }} </option>
                        {% endfor %} 
                    </select>

                    <br>
                    <br>
                    <input type="hidden" name="id_cod_produto" id="id_cod_produto"/>
                    <input type="hidden" name="id_valor_unitario" id="id_valor_unitario"/>

                    <label class="margem_label">Valor Unitário:</label>
                    <br>
                    <input type="text" name="desc_valor_unitario" id="id_desc_valor_unitario" value ="" placeholder=" " size="43" />
                    <br>
                    <br>

                    <label class="margem_label">Quantidade:</label>
                    <br>
                    <input type="text" name="quantidade_venda" id="quantidade_venda" value="{{tb_it.quantidade_venda}}" placeholder="Adicionar quantidade." size="43"/>
                    <br>
                    <br>


                    <input type="submit" class="btn btn-outline-success" value="Enviar"/>
                    <br>
                    <br>
                </form>
            </table>
            <br>
            <a href="/admin_pedido" ><input class="btn btn-info" type="submit" value = "Voltar" style="width: 120px"></a> 
        </body>

        <footer>
            <br>
            <br>
            <p class="text-dark text-center"><strong>Desenvolvido por MaapSystem</strong></p>
        </footer>
    </div>
</html>