<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">
        <link rel="stylesheet" href="/static/css/index.css">
        <title>Sorveturnes - Sorvetes</title>
    </head>
    <body>
        <div class="menu">
            <div class="logo">
                <a href="index.html"><img src="/static/img/logo4x2.png" alt="logo"></a>
            </div>
            <div class="botoes">
                <ul>
                    <li><a href="/index"><img src="/static/img/index.png" alt="home"> Home</a></li>
                    <li><a href="#sobre"><img src="/static/img/corneta-de-sorvete.png" alt="sorvete">A Sorvetunes</a></li>
                    <li><a href="#produtos"><img src="/static/img/palito-de-picole.png" alt="sorvete">Produtos</a></li>
                    <li><a href="#contatos">Contato</a></li>
                </ul>
            </div> 

        </div>
        <section class="section-one">
            <div class="section-sub">
                <a name="sobre"></a>
                <div class="section-sobre">
                    <p>
                        A sovertunes é uma empres com x anos de expecirencia na frabricação de sorvetes.
                    </p>  
                </div>                
            </div>
        </section>
        <section class="section-two">
            <div class="section-sub">
                <a name="produtos"></a>
                <div class="section-sobre">
                    <lu>
                        <li>Sorvetes de Potes</li>
                        <li>Pícoles</li>
                        <li>Delicias Gelatas</li>
                        <li>Casquinhas</li>
                    </lu>
                </div>
            </div>
        </section>
    </body>
    <footer>
        <a name="contatos"></a>
        <div class="section-contatos">
            <div class="box-one">
                <a href="wyliams@sorvetunes.com.br"><img src="/static/img/mail.png" alt="mail"> wyliams@sorvetunes.com.br</a>
                <p> <img src="/static/img/whatsapp.png" alt="whatsapp">(11) 2936-4672</p>
                

            </div>
            <div class="box-two">
                <a href="https://www.facebook.com/sorvetunes" target="_blank"><img src="/static/img/facebook.png" alt="facebook"> Facebook</a>
                <a href="https://www.instagram.com/sorvetunes_oficial/?hl=pt-br" target="_blank"><img src="/static/img/instagram.png" alt="instagram"> Instagram</a>
            </div>

        </div>
        <div class="container-footer">
            <p>Copyright © 2021 Sorvetunes
                Todos os direitos reservados
                Design por:MAAPSystem</p>

        </div>
        <div class="acesso-int">
            <lu>
                <li><a href="/login"><img src="/static/img/admin.png" alt="admin">Acesso interno</a></li>
            </lu>
        </div>
    </footer>
</html>