<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/login.css')}}">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
      <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
      <title>Login</title>
   </head>

   <body class="bk">
      <div class="container">
         <div class="row">

            <div class="col-12 col-md-6  bg-warning coluna">
               <div class="col-12 col-md-9 align-items-center justify-items-center  text-center" >
                  <img class="img-responsive" src="/static/img/logo.png" width="360" height="301">
                  <br>
                  <br>
                  <a href="/" ><input class="btn btn-secondary" type="submit" value = "Home" style="width:120px"></a>
               </div>
            </div>
            
            <div class="col-12 col-md-6  bg-secondary coluna">
               <form action="/form" class="text-center" method="POST">
                  <div class="form-group">
                     <!-- <label class="text-white">Usuário</label> -->
                     <input type="text" name="usuarioform" id="usuarioform" placeholder="Nome de Usuário" style="width: 220px">
                  </div>
                  <div class="form-group">
                     <!-- <label class="text-white">Senha  </label> -->
                     <input type="password" name="senhaform" id="senhaform" placeholder="Senha" style="width: 220px">
                  </div>  
                  <button type="submit" class="btn btn-warning" style="width: 120px">Entrar</button>
                  <br>
                  <br>
                  <h6 class="text-white">{{ mensagem }}</h6>
               </form>
            </div>
         
         </div>
      </div>
      
   </body>
   <footer>
      <br>
      <p class="text-white text-center"><strong>Desenvolvido por MaapSystem</strong></p>
  </footer>
</html>