<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/fundo.css')}}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="icon" type="imagem/png" href="/static/img/icon_sorvete.png" />
        <title>Report Pedido</title>
    </head>
    <div class="container align-items-center">
        <body class="bk_report text-center align-items-center">
            <br>
            <br>

            <div class="cabecario">
                <img class="img-responsive" src="/static/img/logo.png" width="260" height="201">
                <div class="contatos">
                    <h6>Sorvetunes Fabrica de Sorvetes LTDA</h6>
                    <h6>Telefone de contato: (11) 2684-9988</h6>
                    <h6>Email: sorvetunes@gmail.com </h6>
                </div>
            </div>


            <div class="pedido-name-dois">
                <div class="tex-dois"><h3>Pedido de Venda</h3></div>
            </div>
            <br>
            <br>
            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead align="center">
                        <tr>
                            <th><strong>Número do Pedido: </strong>{{ id }}</th>
                            <th><strong>Data: </strong>{{ query_pd.data_pedido|datetimeformat  }}</th>
                            <th><strong>Status: </strong>{{ query_st.descricao|upper }}</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <br>
            <div class="pedido-name">
                <div class="tex-um"><h5>Dados do Cliente</h5></div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-sm table-bordered">
                    <tbody align="center">
                        <tr>
                            <td><strong>Cliente</strong></td>
                            <td><strong>Documento (CPF/CNPJ)</strong></td>
                            <td><strong>Celular</strong></td>
                            <td><strong>E-mail</strong></td>

                        </tr>
                        <tr>
                            <th>                                
                                {% if query_pd.cod_cliente == query_pf.id_pessoa_fisica   %}
                                {{query_pf.nome}}
                                {% else %}
                                {{query_pj.razao_social}}
                                {% endif %}
                            </th>

                            <th>
                                {% if query_pd.cod_cliente == query_pf.id_pessoa_fisica   %}
                                {{query_pf.cpf|cpfformat}}
                                {% else %}
                                {{query_pj.cnpj|cnpjformat}}
                                {% endif %} 
                            </th>
                            <th>
                                ({{query_tl.ddd}}) {{query_tl.telefone}}
                            </th>
                            <th>
                                {{query_cl.email}} 
                            </th>
                        </tr>
                            
                        
                        <tr>
                            <td><strong>Endereço</strong></td>
                            <td><strong>Complemento</strong></td>
                            <td><strong>Cidade/UF</strong></td>
                            <td><strong>CEP</strong></td>
                        </tr>
                        <tr>
                            <th>
                                {{query_cl.endereco}}, {{query_cl.num_endereco}}
                            </th>
                            <th>
                                {{query_cl.complemento}}
                            </th>
                            <th>
                                {{query_cd.cidade}} - {{query_uf.uf}}
                            </th>
                            <th>
                                {{query_cl.cep|cepformat}}
                            </th>
                        </tr>

                    </tbody>
                </table>
            </div>

            <br>
            <div class="pedido-name">
                <div class="tex-um"><h5>Detalhes do Pedido</h5></div>
            </div>
            <div class="scroll">
                <div class="table-responsive-sm">
                    <table class="table table-sm">
                        <thead align="center">
                            <tr>
                                <th><strong>Produto</strong></th>
                                <th><strong>Quantidade</strong></th>
                                <th><strong>Descrição</strong></th>
                                <th><strong>Valor Unitário</strong></th>
                                <th><strong>Valor Total </strong></th>
                            </tr>
                        </thead>
                        <tbody align="center">
            
                            {% for tbl in pedido %}
                            
                            <tr>
  
                                <!-- <td>{{ tbl.cod_pedido }}</td> -->
                                <td>{{ tbl.nome_produto }}</td>
                                <td>{{ tbl.quantidade_venda }}</td>
                                <td>{{ tbl.descricao }}</td>
                                <td>{{ "R$ %.2f"|format(tbl.valor_unitario)|string }}</td>
                                <td>{{ "R$ %.2f"|format(tbl.valor_total)|string }}</td>
                     
                            </tr>

                            {% endfor %}  
                        </tbody>
                    </table>
                </div>
                <br>
                <br>

                {% if total is not defined %}
                {% set total = 0 %}
                {% endif %}
                <h2 class="text-dark text-center">{{ "Valor Total: R$ %.2f"|format(total)|string  }}</h2>

                <br>
  
            </div> 
            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead align="center">
                        <tr>
                            <th><strong>Condição de Pagamento: </strong>{{ query_pd.mod_pgto|upper }}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </body>
    </div>
</html>